<section class="my-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-8 mx-auto">
        <div>
          <input
            [(ngModel)]="inputValue"
            type="text"
            class="form-control mb-4 shadow-lg p-2"
            placeholder="Real time search"
          />
        </div>
      </div>
    </div>
    <div class="row gy-3 justify-content-center">
      <div
        class="col-md-2 cursor-pointer"
        *ngFor="
          let product of products
            | search : inputValue
            | paginate
              : {
                  id: 'productPaginate',
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: total
                }
        "
      >
        <div class="product p-2">
          <i
            *ngIf="!wishListData.includes(product._id)"
            (click)="addToWish(product._id)"
            class="fa-regular fa-heart wish_icon"
          ></i>
          <i
            *ngIf="wishListData.includes(product._id)"
            (click)="removeFromWish(product._id)"
            class="fa-solid fa-heart fa-2x wish_icon text-danger"
          ></i>
          <div [routerLink]="['/productDetails', product._id]">
            <img class="w-100" [src]="product.imageCover" alt="" />
            <span class="fa-sm text-main">{{ product.category.name }}</span>
            <h1 id="ptitle" class="h6 fw-bold">
              {{ product.title.split(" ").slice(0, 2).join(" ") }}
            </h1>
            <div class="d-flex align-items-center justify-content-between">
              <span class="fw-bold text-black">{{ product.price }} EGP</span>
              <div class="d-flex align-items-center">
                <i
                  *ngFor="let number of [1, 2, 3, 4, 5]"
                  [class.rating-color]="product.ratingsAverage >= number"
                  class="fa-solid fa-star me-1"
                ></i>
              </div>
            </div>
          </div>
          <button
            (click)="addProduct(product._id, btnAdd)"
            #btnAdd
            class="btn btn-main w-100"
          >
            <i class="fa-solid fa-cart-plus me-2"></i> Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls
      id="productPaginate"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      [maxSize]="9"
      [directionLinks]="true"
      [autoHide]="true"
      [responsive]="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</section>
