<section
  class="w-75 mx-auto shadow bg-main-light rounded p-3 mb-3"
  *ngIf="cartDetails; else msg"
>
  <div class="row">
    <div class="col-md-10">
      <div class="py-3">
        <h1 class="h2 fw-bold text-capitalize">Shop Cart</h1>
      </div>
    </div>

    <div class="col-md-2">
      <div class="py-3">
        <button
          (click)="clearCartProducts()"
          class="btn btn-outline-danger w-100 p-2"
        >
          Clear Cart
        </button>
      </div>
    </div>
  </div>
  <p class="text-main mt-2">
    Total Price :
    <span
      class="p-2 rounded shadow bg-light fw-bold border border-1 border-success"
      >{{ cartDetails.totalCartPrice }}</span
    >
    EGP
  </p>

  <div
    class="row gy-2 border-bottom border-1 border-success py-3"
    *ngFor="let x of cartDetails.products"
  >
    <div class="col-md-1">
      <div>
        <img
          class="w-100 img-thumbnail"
          [src]="x.product.imageCover"
          [alt]="x.product.title"
        />
      </div>
    </div>
    <div class="col-md-11">
      <div class="row gy-3">
        <div class="col-md-10">
          <div>
            <h3 class="h4">
              {{ x.product.title.split(" ").slice(0, 8).join(" ") }}
            </h3>
            <p class="text-main small">Price: {{ x.price }} EGP</p>
            <button
              class="btn btn-danger"
              (click)="removeItem(x.product._id, btnRemove)"
              #btnRemove
            >
              Remove Product
              <i class="ms-2 fa-solid fa-trash-can"></i>
            </button>
          </div>
        </div>
        <div class="col-md-2 align-self-start">
          <div class="d-flex align-items-center justify-content-center">
            <button
              #btn1
              (click)="changePCount(x.count - 1, x.product._id, btn1, btn2)"
              class="btn btn-outline-success btn-sm rounded-circle"
            >
              <i class="fa-solid fa-square-minus"></i>
            </button>

            <span
              class="text-main fw-bold mx-2 shadow rounded p-2 px-3 border border-1 border-success"
              >{{ x.count }}</span
            >

            <button
              #btn2
              (click)="changePCount(x.count + 1, x.product._id, btn1, btn2)"
              class="btn btn-outline-success btn-sm rounded-circle"
            >
              <i class="fa-solid fa-square-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    [routerLink]="['/payment', cartDetails._id]"
    class="btn btn-outline-dark my-3 d-flex w-auto shadow-lg"
  >
    <span class="fw-bold">Make Order</span>
  </button>
</section>

<ng-template #msg>
  <img src="assets/images/cart.png" alt="empty" class="d-block mx-auto mb-3" />
  <h2 class="text-center text-main fw-bolder">Cart is Empty ...</h2>
</ng-template>
