<section class="bg-main-light p-5 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-capitalize fw-bold text-main">
          get the fresh cart app
        </h3>
        <p class="text-capitalize">We Well Send You a Link</p>
        <div class="row gy-2">
          <div class="col-md-10">
            <input
              type="email"
              name="email"
              placeholder="Email..."
              class="form-control p-2"
            />
          </div>
          <div class="col-md-2">
            <button class="btn-main text-capitalize d-block ms-auto w-100 p-2">
              share app link
            </button>
          </div>
          <hr class="mt-4" />
        </div>

        <div class="row gy-2">
          <div class="col-md-6 me-auto">
            <div class="d-flex align-items-center justify-content-start">
              <p class="text-capitalize p-0 m-0 me-2">payment parteners:</p>
              <img src="assets/images/master.svg" alt="..." />
              <img src="assets/images/visa-1.svg" alt="..." />
              <img src="assets/images/icons8-paypal.svg" alt="..." />
              <img
                src="assets/images/icons8-amazon-web-services.svg"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
